{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8"> 
        <h1>Udemy Node</h1> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique porro quam temporibus voluptatum aut! Cumque ratione voluptatibus non ea sapiente eum fuga dolor, optio, voluptatum voluptate doloribus tempore eveniet necessitatibus?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/node.png" class="img-thumbnail" >
    </div>

</div>

{{> footer}}